* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Goblin One", cursive;
}

.sub-text {
  font-size: 19px;
}

/*Header*/
header {
  background-color: #f4eee8;
  width: 100%;
  padding: 40px 0;
  height: 90vh;
}

.navbar {
  background-color: #34656d;
  padding: 14px;
  transition: all 0.7s;
}

.navbar-brand {
  font-size: 30px;
  margin-left: 20px;
}

.navbar-brand:hover {
  color: red;
}

.nav-link {
  font-size: 20px;
  margin: 0 8px;
}

.line1,
.line2,
.line3 {
  width: 20px;
  height: 3px;
  margin: 5px;
  transition: 0.5s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px;
  background: linear-gradient(
    rgba(102, 172, 143, 0.6),
    rgba(102, 172, 143, 0.6)
  );
}

.identity {
  animation-name: identity;
  animation-duration: 2s;
}

@keyframes identity {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.mark-text-header {
  color: #34656d;
}

.my-pic {
  width: 300px;
  border-radius: 100%;
}

h4,
.details {
  font-family: "Roboto", sans-serif;
}

.header-flat-icon {
  width: 300px;
}

.banner-container {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container .banner {
  width: 90%;
}

.greet-container {
  margin-top: 40px;
  animation-name: greet;
  animation-duration: 2s;
}

@keyframes greet {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.cv-btn {
  font-family: "Roboto", sans-serif;
}

.cv-link {
  color: black;
}

.cv-link:hover {
  color: white;
  text-decoration: none;
}

/*My Skills*/
.my-skills img {
  width: 150px;
}

.details {
  font-size: 20px;
}

.technology-list-item {
  cursor: pointer;
}

.fromDown {
  animation-name: fromDown;
  animation-duration: 2s;
}

.fromTop {
  animation-name: fromTop;
  animation-duration: 2s;
}

@keyframes fromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fromDown {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*My Technologies*/
.technology-image {
  width: 300px;
  height: 200px;
}

.my-technologies-text {
  color: #34656d;
}

.active-item {
  color: #fb3640;
}

/* My Projects */
.projects {
  background-color: #34656d;
}

.projects img {
  width: 300px;
  height: 250px;
  border-radius: 15px;
}

.projects i {
  font-size: 40px;
  margin: 0px 20px 0px;
}

.zuitt-coding-text {
  font-family: "Roboto", sans-serif;
}

.sub-text {
  font-size: 23px;
}

.name-of-project,
.reminder-text {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}

/*Contact*/
.contact {
  background: linear-gradient(
      100deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
    ),
    url(./images/contact-background.jpg) no-repeat center center / cover;
}

.get-in-touch {
  font-size: 40px;
}

.contact-link {
  font-size: 30px;
  margin-top: 5px;
}

.input {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid white;
  border-radius: 0;
  transition: 0.4s;
}

.input:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid #3d84b8;
}

.input2 {
  background: transparent;
  border-color: transparent;
  border: 2px solid white;
  transition: 0.4s;
}

.input2:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  border: 2px solid #3d84b8;
}

.submit-btn {
  transition: 0.4s;
}

.submit-btn:hover {
  transform: translateY(-5px);
}

/*Footer*/
footer {
  background-color: #34656d;
}

small {
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
}

/*Break Points*/

@media (min-width: 1401px) {
  .contact2 {
    position: relative;
    right: 6%;
  }

  .banner {
    padding-right: 80px;
  }
}

@media (max-width: 1400px) and (min-width: 1201px) {
  .nav-link {
    font-size: 18px;
    margin: 0 5px;
  }

  .banner {
    padding-right: 80px;
  }

  .fromDown-projects-2 {
    animation-name: fromDown-projects-2;
    animation-duration: 2s;
  }

  .fromTop-projects-2 {
    animation-name: fromTop-projects-2;
    animation-duration: 2s;
  }

  @keyframes fromTop-projects-2 {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes fromDown-projects-2 {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .contact2 {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .nav-link {
    font-size: 15px;
    margin: 0 5px;
  }

  .fromDown-projects-2 {
    animation-name: fromDown-projects-2;
    animation-duration: 2s;
  }

  .fromTop-projects-2 {
    animation-name: fromTop-projects-2;
    animation-duration: 2s;
  }

  @keyframes fromTop-projects-2 {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes fromDown-projects-2 {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 12px;
  }
  .contact {
    background: linear-gradient(
        100deg,
        rgba(21, 31, 32, 1) 0%,
        rgba(21, 31, 32, 0.95) 100%,
        transparent 50%
      ),
      url(./images/contact-background.jpg) no-repeat center center / cover;
  }
  .banner {
    padding-top: 20px;
  }

  .navbar-brand,
  .reminder-text,
  .sub-text,
  .details,
  .name-of-project {
    font-size: 20px;
  }

  .my-pic {
    width: 250px;
  }

  .projects i,
  .links i {
    font-size: 25px;
  }

  .navbar-toggler {
    position: relative;
    height: 30px;
    width: 26px;
  }

  .line-container {
    position: absolute;
    left: 0;
    top: 0;
  }

  .line1,
  .line2,
  .line3 {
    width: 15px;
    height: 3px;
    margin: 5px;
    transition: 0.5s;
  }
}

@media (max-width: 996px) and (min-width: 992px) {
  .navbar-brand {
    font-size: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .greet-text,
  .my-skills-text,
  .my-technology-text,
  .my-projects-text {
    font-size: 40px;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 8px;
  }

  .technology-image {
    width: 150px;
    height: 150px;
  }

  .projects img {
    width: 220px;
    height: 200px;
  }

  .navbar-brand,
  .reminder-text,
  .sub-text,
  .details,
  .name-of-project {
    font-size: 15px;
  }

  .greet-text,
  .my-skills-text,
  .my-technology-text,
  .my-projects-text,
  .get-in-touch {
    font-size: 30px;
  }

  .my-pic {
    width: 200px;
  }

  .projects i {
    font-size: 25px;
  }

  .navbar-toggler {
    position: relative;
    height: 30px;
    width: 26px;
  }

  .line-container {
    position: absolute;
    left: 0;
    top: 0;
  }

  .line1,
  .line2,
  .line3 {
    width: 15px;
    height: 3px;
    margin: 5px;
    transition: 0.5s;
  }
}

@media (max-width: 412px) {
  html {
    font-size: 8px;
  }

  header {
    height: 70vh;
  }

  .banner-container {
    height: 60vh;
  }

  .navbar-brand,
  .reminder-text,
  .sub-text,
  .details,
  .name-of-project {
    font-size: 15px;
  }

  .my-pic {
    width: 150px;
  }

  .projects i {
    font-size: 25px;
  }

  .navbar-toggler {
    position: relative;
    height: 30px;
    width: 26px;
  }

  .line-container {
    position: absolute;
    left: 0;
    top: 0;
  }

  .line1,
  .line2,
  .line3 {
    width: 15px;
    height: 3px;
    margin: 5px;
    transition: 0.5s;
  }

  .header-flat-icon {
    width: 200px;
  }

  .technology-image {
    width: 200px;
  }
}

@media (max-width: 401px) {
  .projects i {
    font-size: 30px;
    margin: 0px 10px 0px;
  }
}

@media (max-width: 375px) {
  .navbar-brand,
  .reminder-text,
  .sub-text,
  .details,
  .name-of-project {
    font-size: 15px;
  }

  .greet-text,
  .my-skills-text,
  .my-technology-text,
  .my-projects-text,
  .get-in-touch {
    font-size: 20px;
  }

  .my-pic {
    width: 100px;
  }

  .projects i {
    font-size: 25px;
  }

  .navbar-toggler {
    position: relative;
    height: 30px;
    width: 26px;
  }

  .line-container {
    position: absolute;
    left: 0;
    top: 0;
  }

  .line1,
  .line2,
  .line3 {
    width: 15px;
    height: 3px;
    margin: 5px;
    transition: 0.5s;
  }

  .cv-btn {
    width: 70px;
    font-size: 6px;
  }
}

@media (max-width: 320px) {
  header {
    padding: 0px 10px;
  }
}
